.container.lighter
    .well
        form.form-horizontal(name="editForm")
            fieldset
                legend Edit Article
                .form-group
                    label.col-md-2.control-label(for="title") Title
                    .col-md-10
                        input.form-control(type="text", placeholder="Title goes here", ng-model="article.title", required="required")
                .form-group
                    label.col-md-2.control-label(for="categories") Category
                    .col-md-10
                        select(categories id="category" class="form-control" required="required" ng-model="article.category")
                .form-group
                    label.col-md-2.control-label(for="body") Body
                    .col-md-10
                        div(text-angular ng-model="article.body" class="ng-isolate-scope ng-valid ta-bind ng-dirty" required="required")
                .form-group
                    label.col-md-2.control-label(for="meta-tags") Tags
                    .col-md-10
                        input.form-control(type="text", placeholder="Type your tags here", ng-model="article.tags", required="required")
                .pull-right
                    button.btn.btn-primary(ng-click="update(article)", ng-disabled="createArticleForm.$invalid") Update
                    a.btn.btn-primary(href="#/") Cancel