extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") MeanBlog
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li.dropdown(ng-controller="CategoryMenuController" ng-include="'partials/category/menu'" )
                    li.dropdown(ng-controller="ArticleMenuController" ng-include="'partials/article/menu'" )
                div(ng-include="'partials/account/login'")
    div(ng-view class="slide-down")
    footer
        hr
        p.text-center
            a(href="https://github.com/webdude21/MeanBlog") &copy; Team "Dirty Martini"