extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") MeanBlog
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li
                        a(href="#/categories") Categories
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            | Articles
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#/articles/all") List articles
                            li
                                a(href="#/articles/create") Create an article
                div(ng-include="'partials/account/login'")
    section
        div(ng-view)
    footer
        p.text-center
            | &copy; Team "Dirty Martini"