.container
    .well
        div
            h5
                | Username: {{ user.username }}
            h6
                | First name: {{ user.firstName }}
            h6
                | Last name: {{ user.lastName}}

        form.form-horizontal(name="editUserForm")
            fieldset
                legend Manage user roles
                .form-group
                    label.col-md-2.control-label(for="admin-role") Admin
                    .col-md-10
                        input#admin-role.form-control(type="checkbox", ng-model="user.isAdmin")
                .form-group
                    label.col-md-2.control-label(for="editor-role") Editor
                    .col-md-10
                        input.form-control(type="checkbox", ng-model="user.isEditor")
                .form-group
                    label.col-md-2.control-label(for="author-role") Author
                    .col-md-10
                        input.form-control(type="checkbox", ng-model="user.isAuthor")
                .form-group
                    label.col-md-2.control-label(for="user-role") User
                    .col-md-10
                        input.form-control(type="checkbox", ng-model="user.isUser")
                //.form-group
                //    label.col-md-2.control-label(for="last-name") Last Name
                //    .col-md-10
                //        input.form-control(type="text", placeholder="Last Name", ng-model="user.lastName", required)
                //.form-group
                //    label.col-md-2.control-label(for="password") Password
                //    .col-md-10
                //        input.form-control(type="password", placeholder="Password", ng-model="user.password")
                .pull-right
                    button.btn.btn-primary(ng-click="updateUserRoles(user)") Update
                    a.btn.btn-primary(href="#/") Cancel