.container
    .row
        H1.col-lg-7.text-center You are not authorized to view this page! (don't worry they won't let me play there too!)
        hr
        img.col-lg-5(src="img/kitten-un.jpg")
        H3.text-left You can regester, which will allow you to atleast view some of the private pages!
             a.btn.btn-primary.pull-right(href="#/signup") Register
        hr