.container
    .jumbotron
        H1.text-center You are not authorized to view this page!
        hr
        H3.text-left You can regester, which will allow you to atleast view some of the private pages!
             a.btn.btn-primary.pull-right(href="#/signup") Register
        hr
        H3.text-center If you are already registered you should login!