.article-container.jumbotron(ng-hide="article.hidden && !identity.currentUser.isPublisher()")
    div(ng-show="identity.currentUser.isPublisher()")
        a.label.label-danger.pull-right(href="#/articles/edit/{{article.id}}") Edit
        span.label.label-warning.pull-right Status: {{ article.hidden ? "hidden" : "public"}}
    span.label.label-primary.pull-left Category: {{ article.category ? article.category.title : "n/a"}}
    h2.text-center
        a(href="#/articles/{{article.id}}" ) {{article.title}}
    hr
    .article-body.text-justify(ng-bind-html="article.body")
    .comments-section
        p(ng-repeat="comment in article.comments") {{comment}}
    hr
    a.label.label-primary.pull-right(href="#/users/{{article.author.id}}") Author: {{article.author.username}}
    span.label.label-primary.pull-left published on: {{article.date | date: 'medium'}}
    div.tags
        hr
        span.article-tag.label.label-success.pull-left(ng-repeat="tag in article.meta.tags") {{article.meta.tags[$index]}}