.article-container.jumbotron
    h2.text-center
        a(href="#/articles/{{article.id}}" ) {{article.title}}
        a.pull-right.btn.btn-primary(href="#/articles/edit/{{article.id}}" ng-show="identity.currentUser.isPublisher()") Edit
    hr
    .article-body.text-justify(ng-bind-html="article.body")
    .comments-section
        p(ng-repeat="comment in article.comments") {{comment}}
    hr
    a.label.label-primary.pull-right(href="#/users/{{article.author.id}}") Author: {{article.author.username}}
    span.label.label-primary.pull-left published on: {{article.date | date: 'medium'}}