.article-container.jumbotron
    h2 {{article.title}}
    .article-body {{article.body}}
    .comments-section
        p(ng-repeat="comment in article.comments") {{comment}}
    span.label.label-primary.pull-right Author: {{article.author}}
    span.label.label-primary.pull-left published on: {{article.date | date: 'medium'}}