.article-container.jumbotron(ng-hide="article.hidden && !identity.currentUser.isPublisher()")
    div(ng-show="identity.currentUser.isPublisher()")
        span.label.label-warning.pull-left Status: {{ article.hidden ? "hidden" : "public"}}
        a.label.label-warning.pull-right(href="#/articles/edit/{{article.id}}") Edit
        a.label.label-danger.pull-right(href="" ng-show="identity.currentUser.isAdmin()" ng-click="deleteArticle(article.id)") Delete
    span.label.label-primary.pull-left Category: {{ article.category ? article.category.title : "n/a"}}
    div(ng-show="identity.currentUser")
        a.label.label-info.pull-right(href="#/comments/create/{{article.id}}") Leave a Comment
    h2.text-center
        a(href="#/articles/{{article.id}}" ) {{article.title}}
    hr
    .article-body.text-justify(ng-bind-html="article.body")
    hr
    a.label.label-primary.pull-right(href="#/users/{{article.author.id}}") Author: {{article.author.username}}
    span.label.label-primary.pull-left published on: {{article.date | date:'d MMMM y, HH:mm:ss'}}
    div.tags
        hr
        span.article-tag.label.label-success.pull-left(ng-repeat="tag in article.meta.tags") {{article.meta.tags[$index]}}