doctype
html
    head
        title Mean Blog System
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.min.css")
        link(rel="stylesheet" href="/styles/bootstrap.min.css")
        link(rel="stylesheet" href="/lib/ngDialog/css/ngDialog.min.css")
        link(rel="stylesheet" href="/lib/ngDialog/css/ngDialog-theme-default.min.css")
        link(rel="stylesheet" href="/lib/textAngular/dist/textAngular.min.css")
        link(rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/lib/ngAnimate/css/ng-animation.css")
        link(rel="stylesheet" href="/styles/mean-blog.css")
    body(ng-app="meanBlog")
        block main-content

        include scripts
        include currentUser