doctype
html
    head
        title Mean Blog System
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.min.css")
        link(rel="stylesheet" href="/styles/bootstrap.min.css")
        link(rel="stylesheet" href="/styles/mean-blog.css")
    body(ng-app="meanBlog")
        block main-content

        include scripts
        include currentUser