script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/lib/angular/angular.min.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.min.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.min.js")
script(type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js")
script(type="text/javascript" src="/lib/angular-animate/angular-animate.min.js")
script(type="text/javascript" src="/lib/ngDialog/js/ngDialog.min.js")
script(type="text/javascript" src="/lib/textAngular/dist/textAngular-sanitize.min.js")
script(type="text/javascript" src="/lib/textAngular/dist/textAngular.min.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/lib/toastr/toastr.min.js")
script(type="text/javascript" src="/scripts/mean-blog-app.js")
script(type="text/javascript" src="/scripts/services/notifier.js")
script(type="text/javascript" src="/scripts/services/account/users-resource.js")
script(type="text/javascript" src="/scripts/services/article/article-resource.js")
script(type="text/javascript" src="/scripts/services/article/category-resource.js")
script(type="text/javascript" src="/scripts/services/article/comments-resource.js")
script(type="text/javascript" src="/scripts/services/account/edit-user-resource.js")
script(type="text/javascript" src="/scripts/services/account/identity.js")
script(type="text/javascript" src="/scripts/services/account/auth.js")
script(type="text/javascript" src="/scripts/controllers/home-controller.js")
script(type="text/javascript" src="/scripts/controllers/article/directives/article-view.js")
script(type="text/javascript" src="/scripts/controllers/article/directives/category-list.js")
script(type="text/javascript" src="/scripts/controllers/article/directives/comment-list.js")
script(type="text/javascript" src="/scripts/controllers/account/login-controller.js")
script(type="text/javascript" src="/scripts/controllers/dialogs/delete-article-warning-controller.js")
script(type="text/javascript" src="/scripts/controllers/dialogs/delete-comment-warning-controller.js")
script(type="text/javascript" src="/scripts/controllers/comments/list-user-comments-controller.js")
script(type="text/javascript" src="/scripts/controllers/comments/comment-edit-controller.js")
script(type="text/javascript" src="/scripts/controllers/account/display-user-controller.js")
script(type="text/javascript" src="/scripts/controllers/account/sign-up-controller.js")
script(type="text/javascript" src="/scripts/controllers/account/profile-controller.js")
script(type="text/javascript" src="/scripts/controllers/admin/user-list-controller.js")
script(type="text/javascript" src="/scripts/controllers/comments/comment-create-controller.js")
script(type="text/javascript" src="/scripts/controllers/article/article-create-controller.js")
script(type="text/javascript" src="/scripts/controllers/article/articles-controller.js")
script(type="text/javascript" src="/scripts/controllers/article/article-menu-controller.js")
script(type="text/javascript" src="/scripts/controllers/article/article-detail-controller.js")
script(type="text/javascript" src="/scripts/controllers/article/article-edit-controller.js")
script(type="text/javascript" src="/scripts/controllers/category/category-menu-controller.js")
script(type="text/javascript" src="/scripts/controllers/category/category-edit-controller.js")
script(type="text/javascript" src="/scripts/controllers/category/categories-controller.js")
script(type="text/javascript" src="/scripts/controllers/admin/edit-user-controller.js")