.container.lighter
    .well
        form.form-horizontal(name="editCommentForm")
            fieldset
                legend Edit comment
                .form-group
                    .col-md-12
                        input.form-control(type="text", placeholder="Your comment goes here", ng-model="comment.body", required="required")
                .pull-right
                    button.btn.btn-primary(ng-click="editComment(comment)", ng-disabled="editCommentForm.$invalid") Update
                    a.btn.btn-primary(href="#/articles/{{article.id}}") Cancel