.container
    h2 Comments:
    table.table.table-striped.table-hover
        thead
            tr.row
                th.col-md-2 Article
                th.col-md-7 Text
                th.col-md-2 Posted on
                th.col-md-1 Actions
        tbody
            tr.row.slide-down(ng-repeat="comment in comments")
                td
                    a(href="#/articles/{{comment.article.id}}") {{comment.article.title}}
                td
                    a.comment(href="#/comments/edit/{{comment.id}}") {{comment.body}}
                td {{comment.date | date:'d MMMM y, HH:mm:ss'}}
                td
                    a.article-tag.label.label-danger.pull-left(ng-click="deleteComment(comment.id)") Delete
                    a.article-tag.label.label-warning.pull-left(href="#/comments/edit/{{comment.id}}") Edit
    ul.pager
        li.previous(ng-hide="comemntsOnThisPage < 10")
            a(ng-click="prev()" href="") ← Previous
        li.next(ng-hide="commentsPage <= 1")
            a(ng-click="next()" href="") Next →