.comments-list
    table.table.table-striped.table-hover
        thead
            tr
                th Article
                th Text
                th Posted on
        tbody
            tr(ng-repeat="comment in comments")
                td
                    a(href="#/articles/{{comment.article.id}}") {{comment.article.title}}
                td {{comment.body}}
                td {{comment.date | date:'d MMMM y, HH:mm:ss'}}
    ul.pager
        li.previous(ng-hide="comemntsOnThisPage < 10")
            a(ng-click="older()" href="") ← Older
        li.next(ng-hide="commentsPage <= 1")
            a(ng-click="newer()" href="") Newer →