.container
    .row.panel
        .col-md-4
            p Sort by:
            select(ng-model="sort")
                option(value="title") Title
                option(value="date") Created on
        .col-md-4
            p Search:
            input(type="text" ng-model="search")
    table.table.jumbotron
        thead
            tr
                td.col-md-4
                    label Title
                td.col-md-4
                    label Created on
                td.col-md-4
                    label Articles
        tbody
            tr(ng-repeat="category in categories | filter: search | orderBy: sort")
                td.col-md-4 {{category.title}}
                td.col-md-4 {{category.date | date:'medium'}}
                td.col-md-4
                    a(href="#/articles/all?category={{category.id}}") See all articles...